[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group CI_Infrastructure_ENM_admin
	owner = group ENMaaS-AdminPrivateCloud
	owner = group ENMaaS-admins
	owner = group oss_rc_ci
	read = deny group Anonymous Users
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = deny group Replication_USSJ_ECN_DO_NOT_REMOVE
	read = group Registered Users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	create = group CI_Infrastructure_ENM_admin
	create = group ENMaaS-AdminPrivateCloud
	create = group ENMaaS-admins
	create = group oss_rc_ci
	createTag = group CI_Infrastructure_ENM_admin
	createTag = group ENMaaS-AdminPrivateCloud
	createTag = group ENMaaS-admins
	createTag = group oss_rc_ci
	forgeCommitter = group CI_Infrastructure_ENM_admin
	forgeCommitter = group ENMaaS-AdminPrivateCloud
	forgeCommitter = group ENMaaS-admins
	forgeCommitter = group oss_rc_ci
	push = group CI_Infrastructure_ENM_admin
	push = +force group ENMaaS-AdminPrivateCloud
	push = +force group ENMaaS-admins
	push = group OSS-Self-Service-Admin
	label-Code-Review = -2..+2 group CI_Infrastructure_ENM_admin
	label-Code-Review = -2..+2 group ENMaaS-AdminPrivateCloud
	label-Code-Review = -2..+2 group ENMaaS-admins
	label-Verified = -1..+1 group CI_Infrastructure_ENM_admin
	label-Verified = -1..+1 group ENMaaS-AdminPrivateCloud
	label-Verified = -1..+1 group ENMaaS-admins
	rebase = group CI_Infrastructure_ENM_admin
	rebase = group ENMaaS-AdminPrivateCloud
	rebase = group ENMaaS-admins
	rebase = group Registered Users
	submit = group CI_Infrastructure_ENM_admin
	submit = group ENMaaS-AdminPrivateCloud
	submit = group ENMaaS-admins
	pushMerge = group ENMaaS-AdminPrivateCloud
	pushMerge = group ENMaaS-admins
	pushMerge = group oss_rc_ci
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
[access "^refs/changes/master*"]
	push = group CI_Infrastructure_ENM_admin
	push = group ENMaaS-AdminPrivateCloud
	push = group ENMaaS-admins
[access "^refs/for/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/maintenance.*"]
	create = group Registered Users
	push = group Registered Users
	label-Code-Review = -2..+2 group Registered Users
[access "^refs/for/refs/heads/master.*"]
	create = group Registered Users
	push = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Registered Users
	label-Verified = -1..+1 group Registered Users
[access "^refs/heads/b.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/heads/maintenance.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/tags/b.*"]
	create = group Registered Users
	createTag = group Registered Users
	push = group Registered Users
[access "^refs/tags/d.*"]
	create = group Registered Users
	createTag = group Registered Users
	push = group Registered Users
[plugin "data-owner"]
	DataOwner = earujos
	DataOwnerDepartment = BCSS NM Eng EE Development Tools
[plugin "eiffel"]
	enabled = true
	rmq-domain = eiffel004.camo.gerrit
	rmq-exchange = mb401-eiffel004
	rmq-server = amqp://mb401-eiffel004.mo.ca.am.ericsson.se:5672
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
